$margin: layout.$spacing-06;

.page {
  @include resources.repsonsive-content;
}

.article {
  position: relative;

  & > section {
    margin-top: $margin;
  }

  & > * {
    margin-bottom: $margin;
  }

  & section > * {
    margin-bottom: $margin;
  }
}
