.selectLang {
  
  & :global(.cds--dropdown) {
    border-bottom: 1px solid themes.$border-subtle-00;
    background-color: transparent;

    &:hover {
      background-color: themes.$field-hover-01;
    }
  }

  @include resources.apply-lesser-than('md') {
    & :global(.cds--list-box__menu-item__option) {
      text-overflow: clip;
      max-width: layout.to-rem(18px);
      padding-right: 0;
      text-transform: uppercase;
    }
  }
}

.selectedItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: layout.$spacing-05;

  @include resources.apply-lesser-than('md') {
    & > span { display: none;}
  }
}
