.selectLang {
  
  & :global(.cds--dropdown) {
    border-bottom: 1px solid themes.$border-subtle-00;
    background-color: transparent;

    &:hover {
      background-color: themes.$field-hover-01;
    }
  }
}

.selectedItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: layout.$spacing-05;
}
